


.answer {
    padding: 20px;
    color: black;
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 700;
}

.ball-container {
    margin: 30px; 
    text-align: center; 
    vertical-align: center ;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-content: center; 
    align-items: center; 
    animation: bounce 0.3s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
.ball-black-outer {
    background: radial-gradient(farthest-corner at 40px 40px, #666, black); 
    width: 220px ;
    height: 220px ;
    border-radius: 100% ;
    display: flex ;
    justify-content: center ;
    position: relative ;
    margin: 0 auto ;
}

.ball-white-inner {

 background: radial-gradient(white, #ececec) ;
 border-radius: 100% ;
 width: 100px ;
 height: 100px ;
 position: absolute ;
 top: 20px ;
 border: 2px solid black ;
 display: flex ;
 justify-content: center ;
 align-items: center ;
 text-align: center ;
 padding: 15px ;

}


@keyframes bounce {
    from {
        transform: translate3d(0, 0, 0);
    }

    to {
        transform: translate3d(0, 9px, 0);
    }
}